table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: Helvetica-Nueue, Helvetica, sans-serif;
  font-size: large;
  font-style: normal;
  font-weight: 100;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #475c85;
  height: auto;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
